<div class="flex-center" data-controller="height">
  <article>
    <header class="flex-between">
      <h2 class= "margin-reset">Confirm your action!</h2>
      <span>
        <%= page_btn_links(object, action_name) %>
      </span>
    </header>
    <%= form_for object, method: 'delete', data:
    { turbo_confirm: (defined?(associated) && associated) ? associated_msg : nil }  do  |f| %>
      <div>
        <h4>Are you sure you want to permanently delete <%= "#{object.class.to_s.downcase} #{name}" %>?</h4>
        <br>
        <%= f.submit "Delete #{object.class.to_s}", disable_with: "Submiting...", class: "outline"%>
      </div>
    <% end %>
  </article>
</div>
