<span data-controller="flash">
  <% if notice.present? %>
    <span class="notice-msg"><%= notice %></span>
  <% end %>
  <% if alert.present? %>
    <span class="alert-msg"><%= alert %></span>
  <% end %>
</span>
