<div class="container">
<article id="<%= dom_id customer %>">
  <header>
    <h3><%= customer.full_name %></h3>
  </header>

    <% visible_attributes(customer).each do |attribute| %>
      <div>
        <strong class='font-size-medium'><%= attribute.titleize %>:</strong>
        <%= customer[attribute] %>
      </div>
    <% end %>
<footer>Links</footer>
</article>
</div>
