<div class="container">
  <span  style="display: flex; justify-content: space-between;">
    <h3>Edit Customer</h3>
    <span>
      <%= page_btn_links @customer %>
    </span>
  </span>
  <%= render 'customers/form', customer: @customer %>
</div>
