<div class="container">
  <span  style="display: flex; justify-content: space-between;">
    <h3>New Customer </h3>
    <%= page_btn_links @customer %>
  </span>
  <%= render 'customers/form', customer: @customer %>
</div>
