/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
    font-size: 16px;
}

.font-size-medium {
    font-size: 1.25rem;
}

.error-color {
    color: #c62828;
}

.margin-reset {
    margin: 0 !important;
}

.minimal-padding {
    padding: .8rem;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
}

.flash-msg {
    padding: var(--form-element-spacing-vertical) var(--form-element-spacing-horizontal);
    position: absolute;
    right:var(--form-element-spacing-vertical);
    top: var(--form-element-spacing-horizontal);
    background: transparent;
    color: var(--primary);
    border: var(--border-width) solid var(--primary);
    border-radius: var(--border-radius);
}
