/*
 *= require_tree .
 *= require_self
*/

html {
    font-size: 16px;
}

select {
    margin: 0
}

nav {
    background-color: var(--card-sectionning-background-color);
    padding: 0 2rem 0 2rem ;
}

.font-size-medium {
    font-size: 1.25rem;
}

.error-color {
    color: var(--del-color);
}

.margin-reset {
    margin: 0 !important;
}

.full-width {
    width: 100vw;
}

.margin-default-right {
    margin-right: 1rem !important;
}

.margin-left-auto {
    margin-left: auto !important;
}

.minimal-padding {
    padding: .8rem;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.margin-page-reset {
    margin-top: -5rem;
}

.default_index_height {
    height: 62vh;
}

.index-search {
   display: grid;
   grid-template-columns: 70% 30%;
}

/* Hot fix for customer drop down title position */
label[for="car_customer_id"] {
    margin-bottom: -25px;
}

/* Hot fix for add new customer link position */
a[data-turbo-frame="add_new_modal"] {
    display: flex;
    justify-content: end;
}
